#offer-list {
    list-style-type: none;
    margin-left: 220px;
    padding: 0;
    overflow: hidden;
    width: 85%;
}
  
 #offer-list > li {
    border: 1px solid #3f51b5;
    padding: 10px;
    box-shadow: 1px 3px #8d8a8a;
    border-radius: 25px;
    height: 120px;
    margin-top: 20px;
  }

.category {
    text-align: center;
}

.label {
    color: #888888;
    width: 100px;
}

ul {
    padding: 10px;
}

div {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}