<h2 [style.margin-top.px]="20">
  Welcome to Job Manager!
</h2>

<p>
  Do you want to find a job of your dreams in IT? Maybe you've already got a work,
   but you need some new challenges? Or simply, current earnings are insufficient? 
   We have prepared something special for You!
</p>

<p>
  We would like to present <b>Job Manager</b>. An app which will help you find dream job. App is divided in three tabs.
  First named „Offers” contains a list of offers.It is possible to filter them! Go there and see how easily you can find an intresting offer!
</p>

<p>
  When you find the right ad, add them to your favorites and follow them in the tab „Favs”.

</p>

<p>
  We left the best in the end! In the tab „Stats” you can compare salaries from different destinations and different technologies!
</p>


<p>
We wish you a successful search!
</p>