<div class="content">
    <h2 class="header">Register</h2>
    <form class="input-form">
      <mat-form-field class="input-field">
        <input matInput placeholder="Login" name="register-login" [(ngModel)]="registerLogin" >
      </mat-form-field>
  
      <mat-form-field class="input-field">
        <input matInput type="password" placeholder="Password" name="register-password" [(ngModel)]="registerPassword">
      </mat-form-field>

      <mat-form-field class="input-field">
          <input matInput type="password" placeholder="Repeat password" name="register-repeat" [(ngModel)]="registerRepeat">
        </mat-form-field>
  
      <button mat-raised-button color="warn" (click)="registerUser()">Submit</button>
      <button mat-button (click)="changeViewToLoginForm()">Login</button>
    </form>
  </div> 
