#offer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
 #offer-list > li {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    border-radius: 25px;
    height: 120px;
    margin-top: 20px;
  }

.category {
    text-align: center;
}

.label {
    color: #888888;
    width: 100px;
}

ul {
    padding: 10px;
}

div {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}