<!-- <div class="content"></div> -->
<div class="content">
  <h2 class="header">Login</h2>
  <form class="input-form">
    <mat-form-field class="input-field">
      <input matInput placeholder="Login" name="login" [(ngModel)]="login" >
    </mat-form-field>

    <mat-form-field class="input-field">
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password">
    </mat-form-field>

    <button mat-raised-button color="warn" (click)="loginUser()">Submit</button>
    <button mat-button (click)="changeViewToRegisterForm()">Register</button>
  </form>
</div>

