<h2 class="header">The most popular technologies (%)</h2>
<p-chart type="pie" [data]="allTechs" width="400px" height="300px"></p-chart>

<h2 class="header" [style.margin-top.px]="40">Technologies grouped by cities</h2>
<div class="row dropdowns-row">
    <mat-form-field id="tech-filter">
        <mat-label>Technology</mat-label>
        <mat-select [(value)]="techFilter" (selectionChange)="filterCities($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let option of technologies" [value]="option.technology">{{option.technology}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="row">
    <p-chart type="bar" [data]="offersByCities" width="600px" height="450px"></p-chart>

    <p-chart id="avgChart" type="bar" [data]="avgByCities" width="600px" height="450px"></p-chart>
</div>



<h2 class="header" [style.margin-top.px]="40">AVG salary by technology in selected city (PLN)</h2>
<div class="row dropdowns-row">
    <mat-form-field id="city-filter">
        <mat-label>City</mat-label>
        <mat-select [(value)]="cityFilter" (selectionChange)="filterTech($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let option of cities" [value]="option.city">{{option.city}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<p-chart type="bar" [data]="techsInCity" width="700px" height="500px"></p-chart>